<li nz-menu-item>
  <span title>
    <i class="anticon anticon-mail"></i>
    <span>首页</span>
  </span>
</li>
<li nz-submenu>
  <span title>
    <i class="anticon anticon-appstore"></i>
    <span>产品</span>
  </span>
  <ul>
    <li nz-menu-item>子产品一</li>
    <li nz-menu-item>子产品二</li>
    <li nz-submenu>
      <span title>产品二</span>
      <ul>
        <li nz-menu-item>Option 7</li>
        <li nz-menu-item>Option 8</li>
      </ul>
    </li>
  </ul>
</li>
<li nz-submenu>
  <span title>
    <i class="anticon anticon-setting"></i>
    <span>Navigation Three</span>
  </span>
  <ul>
    <li nz-menu-item>Option 9</li>
    <li nz-menu-item>Option 10</li>
    <li nz-menu-item>Option 11</li>
  </ul>
</li>