<nz-layout style="min-height:100%">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <nzMenu></nzMenu>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <nzHeader></nzHeader>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <breadcrumb></breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 360px;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <footer></footer>
  </nz-layout>
</nz-layout>